.banner-container {
    position: relative;
    height: 500px;
    background: $verde;
    border-radius: 35px;

    .hero-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h2 {
            font-weight: $bold;
            color: $negro;
            font-size: 3rem;
            white-space: nowrap;

            @include media("<=tablet") {
                white-space: normal;
            }
        }

        .hero-color-text {
            color: $amarillo;
        }

    }


}